<html>

<form action="http://localhost:4005/processForm" method="post">
Name:<input name="ename"> <br>
Salary:<input name="esalary"> <br>                
Department: 
<select name="edeptname">
    <option value='IT'> Information Techonology </option>
    <option value='HR'> Human Resource </option>
    <option value='Sales'> Sales </option>
</select>

<input type="submit">
</form>



</html>