
<html>


  <form action="http://localhost:4005/process" method="post">
    Employee Number: <input type="text" name="empno"> <br>
    Name: <input type="text" name="name">  <br>
    Salary: <input type="text" name="salary">  <br>
    Department:    <select name = "deptcode">
      <option value = "2">IT</option>
      <option value = "3">Sales</option>
      <option value = "1">HR</option>
   </select>  <br>
    <input type="submit">
 </form>

 </html>